@font-face {
    font-family: windows;
    src: url(./fonts/LEVIWINDOWS.TTF);
}

:root {
    --borderRadius: 6px;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
}

.screen {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff00;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#remote {
    width: 10rem;
    height: auto;
    background-color: #fff;
    padding: 1rem;
    position: absolute;
    right: 0;
    bottom: 10%;
    display: flex;
}

.chibi {
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-image: url(./assets/images/ishi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0%;
    left: 50%;
    transition-property: bottom, left;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    filter: grayscale(1);
}

#ishikazeOverlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

.debug {
    width: auto;
    height: 1;
    max-height: 20vh;
    padding: 1rem;
    background-color: rgba(7, 26, 2, 0);
    color: white;
    font-family: monospace;
    position: fixed;
    z-index: 99;
}

#loading {
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    padding: 1rem;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff00;
    border-radius: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 99;
}

.loader-wrapper {
    position: relative;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    0% {
        transform: rotate(1turn);
    }
}


.loader {
    width: 80px;
    aspect-ratio: 1;
    border: 10px solid #000;
    box-sizing: border-box;
    background:
        radial-gradient(farthest-side, #fff 98%, #0000) top,
        radial-gradient(farthest-side, #fff 98%, #0000) top,
        radial-gradient(farthest-side, #fff 98%, #0000) left,
        radial-gradient(farthest-side, #fff 98%, #0000) right,
        radial-gradient(farthest-side, #fff 98%, #0000) bottom,
        #000;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l19 1s infinite;
}

@keyframes l19 {
    0% {
        background-position: top, top, left, right, bottom
    }

    25% {
        background-position: right, top, left, right, bottom
    }

    50% {
        background-position: bottom, top, left, right, bottom
    }

    75% {
        background-position: left, top, left, right, bottom
    }

    100% {
        background-position: top, top, left, right, bottom
    }
}

.placholder {
    height: 50rem;
    width: 10rem;
}

h1 {
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 4px;
    color: #000000;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.page {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: windows;
    font-size: 2rem;
    width: 60rem;
    min-height: 100vh;
    height: auto;
    filter: grayscale(1);
}

.skyContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
}

.sky {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    filter: grayscale(1) contrast(100);
    background-image: url(./assets/images/sky.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no;
    background-repeat: repeat-x;
}

.skyOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 1) 100%);
}

.cityContainer {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 20rem;
}

.city {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    filter: grayscale(1) contrast(2);
    background-image: url(./assets/images/city.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}

.header {
    width: 100%;
    height: 20vh;
    /* background-color: #000; */
    color: white;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.mainSection {
    width: 100%;
    height: 27rem;
    min-width: 1rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    color: white;
    border-radius: var(--borderRadius);
}

.profileSection {
    width: 20%;
    height: 100%;
    padding: 2rem;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.pfpContainer {
    position: relative;
    width: 7rem;
    height: 7rem;
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: var(--borderRadius);
}

.pfpContainerInner {
    width: 100%;
    height: 100%;
}

.pfpContainer img {
    overflow: hidden;
}

#pfp {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
}

.catEars {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(./assets/images/bdab5c0f-522c-49f7-8dcb-11c6d9e19971_neon_neko-orange2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-10deg) translate(-0.2rem, -1rem) scale(1.2);
    filter: brightness(1.3);
}

#username {
    font-size: 4rem;
    margin-bottom: -1.5rem;
}

.statusSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
}

#statusIndicator {
    width: 1rem;
    height: 1rem;
    background-color: #000;
    border-radius: 100%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1) inset;
}

.divider {
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.spotifySection {
    width: 100%;
    height: 35%;
    position: relative;
}

#spotifyPH {
    margin-top: 1rem;
    line-height: 0.6;
}

.spotifyIcon {
    position: absolute;
    font-size: 1.5rem;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.bioSection {
    width: 80%;
    height: 100%;
    padding: 2rem 1rem 2rem 2rem;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

.boxContainer {
    position: relative;
    padding: 1rem;
    border: 2px solid white;
    border-radius: var(--borderRadius);
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(103, 103, 103, 1) 100%);
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.boxHighlight {
    display: none;
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 32px;
    right: 0.7rem;
    top: 0.65rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 1) 100%);
}

#spotifyContainer {
    padding-top: 0.75rem;
    display: none;
    flex-direction: row;
    align-items: start;
}

.spotifyCover {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    background-color: antiquewhite;
    border: 2px solid white;
    border-radius: var(--borderRadius);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#spotifyCover {
    width: 100%;
    height: 100%;
}

#spotifyTrack {
    font-size: 2.25rem;
    margin-bottom: -0.5rem;
    text-wrap: nowrap;
}

#spotifyArtist {
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.visualiser {
    width: 9.8rem;
    height: 4.5rem;
    image-rendering: pixelated;
    position: absolute;
    top: -0.1rem;
    left: -0.15rem;
    z-index: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: -0.5rem;
    font-size: 3.5rem;
}

.headerBlock {
    width: 0.25rem;
    height: 3rem;
    background-color: #ffffff;
    margin-right: 0.75rem;
    align-self: flex-start;
}

.gooberBadge {
    width: 6rem;
    height: 6rem;
    background-color: #ffffff;
    background-image: url(./assets/images/goober.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    transform: rotate(15deg);
    border: #000 solid 1px;
    animation: badgeRotate 10s linear 1s infinite;
}

@keyframes badgeRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.socials {
    display: flex;
    margin-top: 0.5rem;
}

.socialIcons {
    margin-right: 1rem;
}

.boxFlexWrapper {
    display: flex;
    flex-direction: row;
}

#support {
    width: 100%;
}

.youtubeSection {
    width: 100%;
    height: 27rem;
    padding: 2rem;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset;
    border-radius: var(--borderRadius);
    margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
    .page {
        width: 90vw;
    }

    .mainSection {
        width: 90vw;
        height: auto;
        flex-direction: column;
    }

    .profileSection {
        width: 100%;
        border-radius: var(--borderRadius);
        margin: auto;
        margin-bottom: 1rem;
    }

    .bioSection {
        width: 100%;
        height: 38rem;
        border-radius: var(--borderRadius);
        padding: 2rem;
    }

    .boxContainer {
        margin: 0 0 1rem 0;
    }

    .boxFlexWrapper {
        display: flex;
        flex-direction: column;
    }

    #support {
        width: 100%;
    }

    .youtubeSection {
        display: none;
    }
}