@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  font-family: nunito;
}

body {
  font-size: 14px;
  color: white;
  background-color: black;
}

.grey {
  background-color: #202020;
}

#landing-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}

#landing-inner-left {
  height: 100%;
  width: 50%;
  position: relative;
  padding: 2rem;
  transition: all 0.5s;
  font-size: 3rem;
  font-weight: 900;
}

#landing-inner-left:hover {
  width: 80%;
}

#landing-inner-left:hover ~ #landing-inner-right {
  width: 20%;
  opacity: 0.5;
}

#landing-inner-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.5s;
  justify-content: center;
  font-size: 2rem;
  font-weight: 900;
}

#landing-inner-right:hover {
  width: 80%;
}

#landing-inner-right:hover ~ #landing-inner-left {
  opacity: 0;
}

#projects {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0);
  overflow: hidden;
}

#projects span{
  position: absolute;
  z-index: 99;
}

#projects:hover{
  background-color: rgba(155, 155, 155, 0.288);
  transform: scale(1.015);
  transition: all 0.25s;
  border: 1px solid rgba(255, 255, 255, 1);
}

.slideshow-container{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  z-index: -1;
  transition: all 0.25s;
}

#black-box{
  background-color: rgba(0, 0, 0, 0.226);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s;
}

#black-box:hover {
  opacity: 0;
}

#black-box:hover ~ .slideshow-container {
  opacity: 0;
}

.slideshow-wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(-40%);
  }
  30%{
      transform: translateX(-140%);
  }
  50%{
      transform: translateX(-190%);
  }
  55%{
      transform: translateX(-400%);
  }
  75%{
      transform: translateX(-600%);
  }
  90% {
    transform: translateX(0);
  }
}

#landing-inner-left:hover {
  width: 70%;
}

#landing-inner-left:hover ~ #landing-inner-right {
  width: 30%;
  opacity: 0.5;
}

#contact {
  height: 50%;
  transition: all 1s;
  padding: 1rem;
  margin: 2rem 2rem 1rem 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0);
}

#contact:hover {
  height: 70%;
}

#contact:hover ~ #about-me{
  height: 30%;
}

#about-me:hover {
  height: 70%;
}

#about-me:hover ~ #contact{
  height: 30%;
}

#about-me{
  height: 50%;
  transition: all 0.5s;
  padding: 1rem;
  margin: 1rem 2rem 2rem 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://upload.wikimedia.org/wikipedia/commons/5/59/Empty.png?20091205084734);

}

#contact:hover, #about-me:hover{
  background-color: rgba(155, 155, 155, 0.288);
  transform: scale(1.015);
  transition: all 0.25s;
  border: 1px solid rgba(255, 255, 255, 1);
}

#about-me:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(//media.tenor.com/G05zLUxXg8MAAAAC/among-us-among-us-sus.gif);
  transition: all 0.5s;
  background-position: center;
}

